[build]
  command = "npm run build"
  publish = "dist"

# Deploy Preview (PRs) -> NOINDEX
[context.deploy-preview]
  [[context.deploy-preview.headers]]
    for = "/*"
    [context.deploy-preview.headers.values]
      X-Robots-Tag = "noindex, nofollow"

# Branch Deploys (branches distintas a main) -> NOINDEX
[context.branch-deploy]
  [[context.branch-deploy.headers]]
    for = "/*"
    [context.branch-deploy.headers.values]
      X-Robots-Tag = "noindex, nofollow"

