---
import Layout from "../layouts/layout.astro";

Astro.response.status = 404;
---

 <Layout
         title="404 | Página no encontrada"
         description="La página que buscas no existe o cambió de dirección."
         noIndex={true}
 >
     <section class="bg-white dark:bg-gray-900">
         <div class="py-16 px-4 mx-auto max-w-screen-xl lg:px-6 h-screen lg:px-8">
             <div class="mx-auto max-w-screen-sm h-screen text-center ">
                 <!-- número de error -->
                 <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-yellow-400">
                     404
                 </h1>

                 <!-- título -->
                 <p class="mb-4 text-3xl tracking-tight font-bold text-black dark:text-white">
                     ⚡ Circuito desconectado ⚡
                 </p>

                 <!-- descripción -->
                 <p class="mb-6 text-lg font-light text-gray-600 dark:text-gray-400">
                     Lo sentimos, no encontramos la página que buscas.
                     Vuelve al inicio o explora nuestro portafolio.
                 </p>

                 <!-- botón -->
                 <a href="/"
                    class="inline-flex items-center justify-center text-black bg-yellow-400 hover:bg-yellow-600
                focus:ring-4 focus:outline-none focus:ring-yellow-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                dark:focus:ring-yellow-200 transition">
                     Volver al inicio
                 </a>
             </div>
         </div>
     </section>


 </Layout>