---
import '../styles/Global.css';
import Layout from "../layouts/layout.astro";
---

 <Layout>

     <section
             class="flex flex-col w-full h-screen justify-center items-center
           bg-black text-white
           sm:bg-red-500
           md:bg-green-500
           lg:bg-blue-500">
         <h1 class="text-3xl font-bold">404</h1>
     </section>

 </Layout>