---
import '../styles/global.css';
---

    <footer class="text-gray-600 body-font bg-gray-50 dark:bg-gray-900 ">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a href="/" class="inline-flex items-center shrink-0" aria-label="Inicio">

                <img class="block dark:hidden w-auto h-10 md:h-12 lg:h-14" decoding="async" loading="eager" src="/NVMlogo.svg" alt="NVM Logo"/>
                <img class="dark:block hidden w-auto h-10 md:h-12 lg:h-14" decoding="async" loading="eager" src="/NVMlogoblanco.svg" alt="NVM Logo" />

            </a>
            <p class="text-sm text-gray-500 dark:text-grisclaro sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Ingenieria en tableros S.A.S <br/> NIT. 901557745-8 </p>
            <p class="text-sm text-gray-500 dark:text-grisclaro sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2025</p>
        </div>
    </footer>