---

    import '../styles/global.css';

---

<header class="flex justify-between items-center px-24 py-12 max-sm: px-5 max-sm:py-10 max-w-7xl w-full mx-auto">

    <a href="/" class="flex items-center gap-x-4">
        <img src="../LOGO.svg"
             alt="Logo de NVM"
             class="aspect-square object-contain w-160 h-160 max-sm:w-112 max-sm:h-112">
    </a>
    <nav class="flex items-center gap-x-4">

        <ul class="flex items-center gap-x-4 gap-x-4 flex-wrap">
            <li class="flex items-center gap-x-4 gap-x-4 gap-x-4 flex-wrap">
                <a href="#" class="text-lg font-medium text-neutral-900 hover:text-yellow-500 transition">Inicio</a>
            </li>
            <li class="flex items-center gap-x-4 gap-x-4 gap-x-4 flex-wrap">
                <a href="#services" class="text-lg font-medium text-neutral-900 hover:text-yellow-500 transition">Servicios</a>
            </li>
            <li class="flex items-center gap-x-4 gap-x-4 gap-x-4 flex-wrap">
                <a href="#about" class="text-lg font-medium text-neutral-900 hover:text-yellow-500 transition">Nosotros</a>
            </li>
            <li class="flex items-center gap-x-4 gap-x-4 gap-x-4 flex-wrap">
                <a href="#projects" class="text-lg font-medium text-neutral-900 hover:text-yellow-500 transition">Proyectos</a>
            </li>
            <li class="flex items-center gap-x-4 gap-x-4 gap-x-4 flex-wrap">
                <a href="#contact" class="text-lg font-medium text-neutral-900 hover:text-yellow-500 transition">Contacto</a>
            </li>
        </ul>

    </nav>
</header>
