---
import '../styles/global.css';
---

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><slot name="title" /></title>
</head>
<body class="bg-white text-neutral-900">
<slot />
</body>
</html>
